# Build directory
build/

# Game Boy / RGBDS build artifacts
*.gb
*.gbc
*.map
*.sym
*.sav
*.o
*.obj
*.2bpp
*.1bpp
*.tilemap
*.pal

# Prerequisites and debug
*.d
*.ilk
*.exp
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Precompiled Headers and Libraries
*.gch
*.pch
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.dylib

# System and Editor files
.DS_Store
Thumbs.db
*~
*.swp
*.swo
